<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keepgoing.website.dao.FileDao">
  	
  	<insert id="save" parameterType="com.keepgoing.website.entity.FileDto" >
  	
  		insert into files(orgName, savedName, savedPath, contentType)
  		values(#{orgName},#{savedName},#{savedPath},#{contentType})
  	
  	<selectKey keyProperty="id" order="AFTER" resultType="int">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
  	</insert>
  	
  	<select id="findFile" resultType="com.keepgoing.website.entity.FileDto">
  		SELECT * FROM files WHERE id = #{id}
  	</select>
  	
  	<select id="findFileByName" resultType="com.keepgoing.website.entity.FileDto">
  		SELECT * FROM files WHERE savedName = #{fileName}
  	</select>
  	
  	<select id="getFileId" resultType="String">
  		SELECT id FROM files WHERE savedName = #{savedName}
  	</select>
  	
  	<delete id="deleteFile">
  		DELETE FROM files WHERE savedName = #{savedName}
  	</delete>
  	
  	<update id="setNoticeId">
  		UPDATE files
  		SET noticeId = #{id}
  		WHERE id = ${fileId}
  	</update>
  	
</mapper>













